/* Modern Sass module system (must precede any plain CSS @import) */
@use "reset";
@use "variables";
@use "mixins";
@use "utilities";
@use "layout/layout";

/* Angular Material v20 theme setup (Material 3) */
@use "@angular/material" as mat;

@include mat.core();

$app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      /* Use Material's green palette as an approximation of Riverty green */
      primary: mat.$green-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($app-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* Use Riverty gray as page background */
  background-color: var(--riverty-gray);
  color: #111;
}
